<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>chrome-extension-template</title>
        <script src="popup.js"></script>
    </head>
    <body>
    </body>
    <body>
        <div>
            <p>Start working</p>
            <p>Setup your schedule</p>
            <p>Block all sites</p>
            <div class="schedule">
                <ol></ol>
            </div>
            <button id="closeAllTabs"> Start working </button>
            <button id="openAllTabs"> Stop working </button>
        </div>
    </body>
</html>
